<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>忘れ物防止・健康管理メモ帳</title>
	<meta charset="utf-8" />
	<!--	css工事中-->
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<!--	${title}はcontrollerから-->
	<h1 th:text="${title1}"></h1>

	<h1 th:text="${title2}"></h1>

	<!--	???は要変更-->
	<div>
	<form method="get" action="#" th:action="@{/memo/view}">
		<input type="submit" value="メモ一覧・編集" class="button">
	</form>
	<form method="get" action="#" th:action="@{memo/add}">
		<input type="submit" value="メモ追加" class="button">
	</form>
	</div>
</body>

</html>