<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>健康管理メモ</title>
	<meta charset="utf-8" />
</head>

<body>
	<!--	${title}はcontrollerから-->
	<h1 th:text="${title}"></h1>
	<!--	???は要変更-->
	<form method="get" action="#" th:action="@{/???}" th:object="${???}">
		<p>日付：<input type="date" name="???" th:value="*{???}"></p>
		<div th:if="${#fields.hasErrors('???')}" th:errors="*{????}">エラー</div>
		<p>メモ：<input type="text" name="????" th:value="*{????}"></p>
		<div th:if="${#fields.hasErrors('????')}" th:errors="*{????}">エラー</div>
		<input type="submit" value="送信">
	</form>
</body>

</html>