<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
</head>

<!--controller参考-->
<!--@RequestMapping("/add")-->
<!--	public String add(Model model, Input input) {-->
<!--		model.addAttribute("title", "サンプルフォーム");-->
<!--		return "memo/add";-->
<!--	}-->
<body>
	<h1 th:text="${title}"></h1>
<!--	工事中-->

	<form method="get" action="#" th:action="@{/memo/addConfirm}" th:object="${input}">
		<p>日付：<input type="date" name="time" th:value="*{time}"></p>
		<div th:if="${#fields.hasErrors('time')}" th:errors="*{time}">エラー</div>
		<p>メモ：<input type="text" name="memo" th:value="*{memo}"></p>
		<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}">エラー</div>
		<input type="submit" value="送信">
	</form>
</body>

</html>