<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>忘れ物防止・健康管理メモ帳</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>


<body>
	<h1 th:text="${title}"></h1>
	<div>
	<form method="get" action="#" th:action="@{/memo/addConfirm}" th:object="${input}">
		<p>日付：<input type="date" name="time" th:value="*{time}" class="moji"></p>
		<div th:if="${#fields.hasErrors('time')}" th:errors="*{time}" th:text="${message}" class="error">エラー</div>
		<p>メモ：<input type="text" name="memo" th:value="*{memo}" class="moji"></p>
		<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:text="${message}" class="error">エラー</div>
		<input type="submit" value="送信" class="button">
	</form>
	<form method="get" action="#" th:action="@{/memo/addCancel}" th:object="${input}">
		<input type="submit" value="キャンセル" class="button">
	</form>
	</div>
</body>

</html>