<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${input}">
		<h2>新規作成をキャンセルしますか</h2>
<!--		<h2>この内容を取り消しますか</h2>-->
<!--		<p>日付：<span th:text="*{time}"></span><br>-->
<!--		メモ：<span th:text="*{memo}"></span></p>-->
	</div>
	<div>
		<form th:action="@{/home}">
			<input type="submit" value="キャンセルする" class="button">
		</form>
	</div>
	<div>
		<form th:action="@{/memo/add}">
<!--			<input type="hidden" name="time" th:value="*{time}">-->
<!--			<input type="hidden" name="memo" th:value="*{memo}">-->
			<input type="submit" value="キャンセルしない" class="button">
		</form>

	</div>

</html>