<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>健康管理メモ</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<!--controller参考-->
<!--@RequestMapping("/addConfirm")-->
<!--	public String addConfirm(@Validated Input input, BindingResult result, Model model) {-->
<!--		if (result.hasErrors()) {-->
<!--			model.addAttribute("title", "入力ページ");-->
<!--			return "memo/add";-->
<!--		}-->
<!--		model.addAttribute("title", "確認ページ");-->
<!--		return "memo/addConfirm";-->
<!--	}-->

<body>
	<!--	タイトル-->
	<h1 th:text="${title}"></h1>
	<div th:object="${input}">
		<h2>この内容でよろしいですか</h2>
		<form action="#" method="get" th:action="@{/memo/view}">
			<p>
				日付: 
				<span th:text="*{time}"></span>
				 <input type="hidden" name="time" th:value="*{time}">
			</p>
			<p>
				メモ: 
				<span th:text="*{memo}"></span>
				<input type="hidden" name="memo" th:value="*{memo}">
			</p>
			<input type="submit" value="追加">
		</form>
		<form action="#" method="get" th:action="@{/memo/addCancel}">
			<input type="submit" value="キャンセル">
		</form>
	</div>
</body>

</html>