<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 class="bg-warning text-white px-4 mb-4"></h1>
  <div class="container">
    <h2 th:text="${title}"></h2>
    <h3>本当にこの内容を削除してよろしいですか？</h3>
    <p th:text="${msg}"></p>
    <div class="form-group my-3">
     <form method="post" action="/delete" th:object="${form}">
      <input type="hidden" 
          name="id" th:value="*{id}">
      <div class="alert alert-warning">
      <ul>
       <li>ID: <span th:text="*{id}"></span></li>
       <li>メモ: <span th:text="*{name}"></span></li>
      </ul>
      </div>
      <div>
        <input type="submit" class="btn btn-warning px-4" value="削除">
      </div>
      <div>
		  <input type="submit" value="キャンセル">
	  </div>
     </form>
    </div>
  </div>
</body>

</html>