<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>忘れ物防止・健康管理メモ帳</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${memo}">
		<p>以下のメモを削除しました</p>
		<p>メモ内容：<span th:text="*{memo}"></span></p>
		<!--        <form action="#" method="get" th:action="@{/deleteConfirm/${memo.id}/exe}">-->
		<form action="#" method="get" th:action="@{/memo/view}">
			<input type="hidden" name="id" th:value="${memo.id}">
<!--			<input type="submit" value="削除" class="button">-->
			<input type="submit" value="一覧画面へ" class="button">
		</form>
<!--		<form action="#" method="get" th:action="@{/memo/view}">-->
<!--			<input type="submit" value="キャンセル" class="button">-->
<!--		</form>-->
	</div>
</body>

</html>