<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${input}">
		<p>本当に削除しますか</p>
<!--		<form action="#" method="get" th:action="@{/deleteConfirm/__*{id}__/exe}">-->
<!--				<input type="hidden" name="id" th:value="*{id}"> -->
			<input type="submit" value="削除">
<!--		</form>-->
		<form action="#" method="get" th:action="@{/memo/view}">
			<input type="submit" value="キャンセル">
		</form>
	</div>
</body>

</html>