<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>忘れ物防止・健康管理メモ帳</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${form}">
		<h2>この内容で上書きしますか？</h2>
		日付：<span th:text="*{time}"></span>
		メモ：<span th:text="*{memo}"></span>

		<form action="#" method="get" th:action="@{/editConfirm/__*{id}__/exe}">
			<input type="hidden" name="id" th:value="*{id}">
			<input type="hidden" name="time" th:value="*{time}">
			<input type="hidden" name="memo" th:value="*{memo}">
			<input type="submit" value="更新">
		</form>
		<form action="#" method="get" th:action="@{/edit/__*{id}__}">
			<input type="hidden" name="id" th:value="*{id}">
			<input type="hidden" name="time" th:value="*{time}">
			<input type="hidden" name="memo" th:value="*{memo}">
			<input type="submit" value="キャンセル">
		</form>
	</div>
</body>

</html>