<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${form}">

		<form action="#" method="get" th:action="@{/editConfirm/__*{id}__/exe}">
			<input type="hidden" name="id" th:value="*{id}">
			<p>日付：<input type="date" name="time" th:value="*{time}" class="moji"></p>
			<div th:if="${#fields.hasErrors('time')}" th:errors="*{time}" th:text="${message}">エラー</div>
			<p>メモ内容: <input type="text" name="memo" th:value="*{memo}" class="moji"></p>
			<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:text="${message}">エラー</div>
			<input type="submit" value="更新" class="button">
		</form>
		<form action="#" method="get" th:action="@{/memo/view}">
			<input type="submit" value="キャンセル" class="button">
		</form>
	</div>
</body>

</html>