<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div th:object="${form}">
		<h2>この内容で上書きしてよろしいですか？</h2>
		<form action="#" method="get" th:action="@{/memo/view}">
			<p>
				番号:<span th:text="*{id}"></span> <input type="hidden" name="id" th:value="*{id}">
			</p>
			<p>
				<span th:text="*{name}"></span>
				メモ内容: <input type="hidden" name="memo" th:value="*{memo}">
			</p>
			<input type="submit" value="上書き">
		</form>
		<form action="#" method="get" th:action="@{/memo/edit}">
			<input type="submit" value="キャンセル">
		</form>
	</div>
</body>

</html>