<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>健康管理メモ</title>
	<meta charset="utf-8" />
	<!--	css工事中-->
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<!--	?は要変更-->
	<!--	タイトル-->
	<h1 th:text="${title}"></h1>

	<table class="tableArea" id="makeImg">
		<tr>
			<th>id</th>
			<th>日付</th>
			<th>メモ</th>
		</tr>
		<tr th:each="res : ${dbList}">
			<td th:text="${res.id}">1</td>
			<td th:text="${res.time}">日付</td>
			<td th:text="${res.memo}">メモ</td>
			<td>
				<form th:action="@{/edit/{id}(id=${res.id})}">
					<input type="submit" value="編集">
				</form>
			</td>
			<td>
				<form th:action="@{/del/{id}(id=${res.id})}">
					<input type="submit" value="削除" />
				</form>
			</td>
		</tr>
	</table>
	<!--	入力だけのページに戻る-->
	<p><a href="/memo/add" th:href="@{/memo/add}" class="button">入力画面へ</a></p>
</body>

</html>